<ion-view view-title="Cart">
  <ion-content>
    <div ng-if="!cartdetails.length">
      <div class="list"><div class="item" style="text-align:center;">No item in the cart</div></div>
    </div>
    <div ng-if="cartdetails.length">
  <div class="list">
  <div class="item item-avatar item-icon-right" ng-repeat="cartdetails in cartdetails">
      <img src="img/Pizza.jpg" ng-click="itemdesc(cartdetails[0].id)" />
      <h2 ng-click="itemdesc(cartdetails[0].id)" style="color: #11c1f3;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 57%;">{{cartdetails[0].name}}</h2>
     <a  ng-click="itemdesc(cartdetails[0].id)"><p> {{cartdetails[0].Price}}</p></a>
    <p style="position: absolute;
    top: 19px;
    right: 55px;"><input type='button' value='+' class='numplus' field='number{{$index}}'  style="float:right;background-color:#067ea0; color:#fff;; border:0;height: 34px;"/>
    <input type='text' name='number{{$index}}' value='{{cartdetails[1]}}' class='num'  style="float:right;    border: 1px solid #067ea0;"/>
    <input type='button' value='-' class='numminus' field='number{{$index}}' style="float:right;background-color:#067ea0; color:#fff; border:0;height: 34px;"/></span>
    </p><a ng-click="remove($index)" style="color: #067ea0;"><i class="icon ion-close-circled"></i></a>
    </div>
  </div>
  <div> 
  <div class="coupon" style="    float: left;   margin-left: 5px;">Delivery charges</div>
  <div><span style="float:right;
width:70px;color: rgb(0, 0, 0);
margin-right: -5px;
border-radius: 3px;
line-height: 26px;
height: 26px;">£15</span>
  </div>
  </div>

  <div class="row">
  <div style="color:#000;width: 100%;">Total
  <label style="background-color: rgb(44, 44, 44); text-align: center; color: rgb(17, 193, 243); font-size: 16px; padding-bottom: 7px; padding-left: 0px; float: right; width: 100px; padding-top: 7px;" class="">
  {{totalamount | currency : "£" : 2}}
  </label>
  </div>
  </div>
   </div>
  <div class="clear"></div>
  <div class="space"></div>
  <div class="padding">
<a class="button button-calm button-block" ng-click="movetores()">Continue Shopping</a>
<a href="#/app/setadd" class="button button-calm button-block" style="margin-top:20px;">Check out</a>
  </div>

  </ion-content>
</ion-view>