<ion-view view-title="Favourite Orders">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content>
	<div class="card">
	  <a href="#/app/orderdetails" style="text-decoration:none;"><div class="item item-divider" style="font-weight:normal;">
		WED, MAY 25, 2016(OJSDBF8435237485634)
	  </div>
	  <div class="item item-text-wrap">
			<div class="item item-thumbnail-left" href="#/app/details">
		  <img src="img/listitem.png">
		  <h2>Food Name</h2>
		  <p>Category</p>
		  <p style="color:#0a9dc7;">Delivered</p>
		  <p>Delivered on Thu, Jun 2nd</p>
		</div>
	  </div></a>
	  <div class="item item-divider">
		<center><a>Reorder</a></center>
	  </div>
	</div>
	<div class="card">
	  <a href="#/app/orderdetails" style="text-decoration:none;"><div class="item item-divider" style="font-weight:normal;">
		WED, MAY 25, 2016(OJSDBF8435237485642)
	  </div>
	  <div class="item item-text-wrap">
			<div class="item item-thumbnail-left" href="#/app/details">
		  <img src="img/listitem.png">
		  <h2>Food Name</h2>
		  <p>Category</p>
		  <p style="color:#0a9dc7;">Shipment in-transit</p>
		  <p>Expected Delivery on Thu, Jun 2nd</p>
		</div>
	  </div></a>
	  <div class="item item-divider">
		<center><a>Reorder</a></center>
	  </div>
	</div>
    </ion-content>
</ion-view>