<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/hotel.jpg) center; background-size: cover;">	
	
	<div class="parent">
	<div class=" padding">
	<center><h1 style="color:#fff;">GO GENIE</h1></center>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
		<div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.username">
            </label>
        </div></div>	
		<div class="row"> 
			<div class="col col-50"><a class="button button-full button-calm">Ok</a></div>
			<div class="col col-50"><a class="button button-full button-balanced" href="#/login">Cancel</a></div>     
		</div> 	</div>					
    </ion-content>	
</ion-view>