<ion-view view-title="Login" align-title="left">
	<center>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<div class="space"></div>
		<img src="img/network.png" />
		<div style="clear:both"></div>
		<div class="space"></div>
			<div class="space"></div>
			<div class="space"></div>
		<div style="color:#8a8a8a;    padding: 20px;">Oops something went wrong! Please check internet connection!!!</div>
		<a class="button button-calm button-small" ng-click="retry()">Refresh</a>
	</center>	
    </ion-content>
</ion-view>
