<ion-view view-title="Orders Details">
    <ion-content>
	<div class="button-bar">
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Ordered On <br />25 May, 2016</a>
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Items <br /> 1</a>
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Grand Total <br /> Rs.299</a>
	</div>
	<div class="padding" style="padding-bottom: 0;"> 
	<h5>Updates sent to</h5>
	<div class="list">

	  <a class="item item-icon-left" style="    border: 0;    font-size: 14px;">
		<i class="icon ion-ios-email-outline" style="    font-size: 27px;"></i>
		sample@gmail.com
	  </a>
	  <a class="item item-icon-left" style="    border: 0;    font-size: 14px;">
		<i class="icon ion-ios-telephone-outline" style="    font-size: 27px;"></i>
		9876543210
	  </a>
	  </div>
	</div>
	<div class="list card"  style="margin-top: 0;">
	  <div class="item">
		<h2>OJSDBF8435237485634</h2>
		<p>Food Name</p>
		<p>Category</p>
	  </div>
	  <div class="item item-image">
		<img src="img/listitem.png">
	  </div>
	  <!-- Progress Tracker v2 -->
<!-- Progress Tracker v2 -->
<ol class="progress" data-steps="4">
    <li class="active">
        <span class="name">Approval</span>
        <span class="step"><span style="color: #11c1f3;    background: #Fff;    border-radius: 50%;    width: 10px;    height: 10px;display: inherit;
    margin-top: 8px;">.</span></span>
    </li>
    <li class="active">
        <span class="name">Processing</span>
        <span class="step"><span style="color: #11c1f3;    background: #Fff;    border-radius: 50%;    width: 10px;    height: 10px;display: inherit;
    margin-top: 8px;">.</span></span>
    </li>
    <li class="active">
        <span class="name">Shipping</span>
        <span class="step"><span style="color: #11c1f3;    background: #Fff;    border-radius: 50%;    width: 10px;    height: 10px;display: inherit;
    margin-top: 8px;">.</span></span>
    </li>
    <li class="active">
        <span class="name">Delivery</span>
        <span class="step"><span style="color: #11c1f3;    background: #Fff;    border-radius: 50%;    width: 10px;    height: 10px;display: inherit;
    margin-top: 8px;">.</span></span>
    </li>	
</ol>
	  <div class="button-bar">
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Delivered on <br />25 May, 2016</a>
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Quantity <br /> 1</a>
	  <a class="button" style="    white-space: normal;    line-height: 20px;font-size: 13px;">Price <br /> Rs.299</a>
	</div>
	<p style="padding:10px 0 0 10px;">Delivery type : Standard Delivery</p>
	<button class="button button-full button-stable" style="margin-bottom: 0;">Return</button>
	</div>
	<div class="list card">
	<div class="padding">
		<h4>Delivery Address</h4>
		<p><i class="icon ion-location" style="margin-right:10px;"></i>sai manoj
						flat no-40, 2nd floor, SAP street, gayathri nagar,mythrivanam,ameerpet
						Hyderabas-500038
						Andhra Pradesh</p>
	</div>
	</div>
	<div class="list card">
	<div class="padding">
		<h4>Payment by</h4>
		<p><i class="icon ion-cash" style="margin-right:10px;"></i>Credit Card</p>
	</div>
	</div>
    </ion-content>
</ion-view>