<ion-view view-title="Login" align-title="left">
<ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <div class="button-bar">
                <a class="button" tab-state ui-sref="tabs.customer">Customer</a>
                <a class="button" tab-state ui-sref="tabs.policy">Policy</a>
                <a class="button" tab-state ui-sref="tabs.vehicle">Vehicle</a>
                <a class="button" tab-state ui-sref="tabs.appointment">Appointment</a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content style="background: url(img/hotel.jpg) center; background-size: cover;">		
	<ion-nav-view name="tab-view"></ion-nav-view>
      </ion-view>
		<div class="bar bar-footer bar-dark" style="background-color:#000;">
		  <div class="title">Skip >></div>
		</div>	
</ion-view>