<ion-view style="background: url(img/hotel.jpg) center; background-size: cover;">
<ion-content class="padding">
<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<center><h5 style="color:#fff;">Enter Your Details</h5></center>
	<div class="space"></div>
	<div class="space"></div>
	<div class="space"></div>
	<div class="parent" style="margin:auto;">
		<div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="user.username">
            </label>
			<div class="space"></div>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="user.password">
            </label>
			<div class="space"></div>
            <label class="item item-input">
              <span class="input-label">Mobile Number</span>
              <input type="text" ng-model="user.password">
            </label>
			<div class="space"></div>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>		
        </div>
		<a class="button button-full button-calm" href="#/login">Register</a>
		<!--<div class="strike">
		   <span>Or</span>
		</div>
		<div class="button-bar">
			  <a class="button button-positive icon-left ion-social-facebook">Facebook</a>
			  <a class="button button-assertive icon-left ion-social-googleplus">Google+</a>
			</div>
			</div>	-->		
</ion-content>
</ion-view>