<ion-header-bar class="bar-header" style="background:none; border:0; color:#fff;">
       <h1 class="title" style="color:#fff;">Registration</h1>
    </ion-header-bar>
<ion-header-bar class="bar-subheader" style="background:none; border:0;">
       <div class="parent" style="margin:auto;">
	   <div class="button-bar">
            <div class="button-bar">
                <a class="button button-calm" tab-state ui-sref="tabs.soft">Soft registration</a>
                <a class="button button-calm" tab-state ui-sref="tabs.full">Full registration</a>
            </div>
        </div>
		</div>
    </ion-header-bar>
      <ion-view title="Button Bar as Top Tabs">        
        <ion-nav-view name="tab-view"></ion-nav-view>
      </ion-view>